.App {
  display: inline-grid;
  grid-template-rows: auto auto;
  margin:0 auto;
  padding:1em;
  .messages{
    position: relative;
    background: blue;
    >div{
      position: absolute;
      bottom:0; left:0; right:0;
      opacity: 0;
      transition: all .5s ease;
      &.visible{
        opacity: 1;
        transform: translateX(0)
      }
    }
    .win{
      text-align: center;
      padding:1em;
      margin-bottom:.5em;
      color:darkgreen;
      font-weight: bold;
      transform: translateX(100px)
    }
    .lost{
      text-align: center;
      padding:1em;
      margin-bottom:.5em;
      color:red;
      font-weight: bold;
      transform: translateX(-100px)
    }
  } 
}
.board{
  border:1px solid #ccc;
  display: grid;
  padding:1em;
  grid-template-columns: repeat(var(--col),1fr);
  margin-bottom:1em;

 button[type="button"]{
    display:block;
    border-width:3px;
    outline:none;
    height:30px; width:30px;
    font-weight: bold;
    //background-image: linear-gradient(to top,#ddd,#eee);
    &[disabled]{
      color:yellow;
    }
    &[flag]{
      background-image:url("img/flag.png");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center; 
    }
    &.good{
      background: #f6f6f6;
      border-width:1px;
    }
    &.bomb{
      background-image:url("img/bomb.svg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center; 
    }
  }
}
.menu{
  display: grid;
  select,button{
    padding:1em;
    margin-bottom:1em;
  }
  p{
    display: flex;
    justify-content: space-between;
  }
}